<div class="row">
	<div class="large-6 columns">
		{{outlet}}
		<label>Email</label>
		{{input value=email}}
	</div>
	<div class="large-6 columns">
		<label>Password</label>
		{{input type="password" value=password}}
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<label class="{{signup::hide}}">Email</label>
		{{input class="signup::hide" value="email"}}
	</div>
	<div class="large-6 columns">
		<button class="check-login" {{action 'facebookLogin'}}>Facebook login</button>
		<button class="{{signup:hide}}"{{action "login"}}>Login</button>
		<button class="{{signup:hide}}"{{action "checkUser"}}>check user</button>
		<button class="{{signup::hide}}"{{action "signup"}}>Sign Up</button>
		<button class="{{signup:hide}}"{{action "toggleSignup"}}>Or Sign Up</button>
		<button class="{{signup::hide}}"{{action "toggleSignup"}}>Or Login</button>
	</div>
</div>

<div class="row align-center">
	<div class="large-4 small-12 columns">
		{{svg-icon class="introduction-icon" type="spoonKnife" size="large"}}
		<p>
			Cook amazing food.
		</p>
	</div>
	<div class="large-4 small-12 columns">
		{{svg-icon class="introduction-icon" type="recipeCreate" size="large"}}
		<p>
			Draw up the blueprints for your masterpiece.
		</p>
	</div>
	<div class="large-4 small-12 columns">
		{{svg-icon class="introduction-icon" type="books" size="large"}}
		<p>
			Organize recipes into books.
		</p>
	</div>
</div>
<div class="row align-center">
	<div class="large-8 large-centered small-12 columns">
		<div class="row align-center">
			<div class="large-4 small-12 columns">
				{{svg-icon class="introduction-icon" type="userPlus" size="large"}}
				<p>
					Share books with family and friends who contribute as well.
				</p>
			</div>
			<div class="large-4 small-12 columns">
				{{svg-icon class="introduction-icon" type="userNo" size="large"}}
				<p>
					Or keep everything secret.
				</p>
			</div>
		</div>
	</div>
</div>