<div class="row">
	<div class="large-6 columns">
		{{outlet}}
		<label>Username</label>
		{{input value=username}}
	</div>
	<div class="large-6 columns">
		<label>Password</label>
		{{input type="password" value=password}}
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<label class="{{signup::hide}}">Email</label>
		{{input class="signup::hide" value="email"}}
	</div>
	<div class="large-6 columns">
		<button class="check-login" {{action 'facebookLogin'}}>Facebook login</button>
		<button class="{{signup:hide}}"{{action "login"}}>Login</button>
		<button class="{{signup::hide}}"{{action "signup"}}>Sign Up</button>
		<button class="{{signup:hide}}"{{action "toggleSignup"}}>Or Sign Up</button>
		<button class="{{signup::hide}}"{{action "toggleSignup"}}>Or Login</button>
	</div>
</div>