{{#link-to 'book.options' this.model classBinding=":button :small :options"}}options{{/link-to}}
<h4>{{model.name}}</h4>
{{#checkbox-single class="button tiny" value="double" target=recipeMultiplier}}double{{/checkbox-single}}
{{#checkbox-single class="button tiny" value="single" target=recipeMultiplier}}single{{/checkbox-single}}
{{#checkbox-single class="button tiny" value="half" target=recipeMultiplier}}half{{/checkbox-single}}

<p>{{model.description}}</p>
<ul class="ingredients">
{{#each formattedIngredients as |ingredient|}}
	<li>
	{{#ingredient-component}}
		{{ingredient}}
	{{/ingredient-component}}
	</li>
{{/each}}
</ul>
<p>{{model.instructions}}</p>

<span class="label">{{model.tags}}</span>