<div class="large-12 columns recipe collapse">

	{{#link-to 'book.options' this.model classBinding=":button :small :options"}}options{{/link-to}}
	<h3>{{model.name}}</h3>
	<button class="button tiny" {{action "changeQuantity" 'double'}}>double</button>
	<button class="button tiny" {{action "changeQuantity" 'single'}}>single</button>
	<button class="button tiny" {{action "changeQuantity" 'half'}}>half</button>
	

	<p>{{model.description}}</p>
	<ul class="ingredients">
	{{#each formattedIngredients as |ingredient|}}
		<li>
		{{#ingredient-component}}
			{{ingredient}}
		{{/ingredient-component}}
		</li>
	{{/each}}
	</ul>
	<p>{{model.instructions}}</p>

	<span class="label">{{model.tags}}</span>

</div>