<div class="large-8 columns recipe collapse">
	<h4>Your settings</h4>
	<label>Email</label>
	{{input value=model.email}}
	<label>Username</label>
	{{input value=model.username}}
	{{#if model.hasDirtyAttributes}}
		<button class="button small" {{action "save"}}>Save changes</button>
	{{else}}
		<button class="button small secondary disabled">up to date</button>
	{{/if}}
	<h4>Invites</h4>
	{{#each bookInvites as |book|}}
		{{book.name}}
		<button {{action "respondToBookInvite" book userController.model true}}>Yes</button>
		<button {{action "respondToBookInvite" book userController.model}}>No</button>
	{{else}}
		<p>You don't have any book invites right now.</p>
	{{/each}}
</div>