<div class="large-12 columns recipe collapse">
	<h3>Share this book with another user</h3>
	<div class="row collapse">
		<div class="small-10 columns">
			{{input value=share placeholder="username"}}
		</div>
		<div class="small-2 columns">
		<a class="button postfix" {{action "findUser"}}>Search</a>
		</div>
	</div>

	<div class="row collapse">

		<div class="small-12 columns">

			{{#if foundUsers}}
				<ul>
				{{#each foundUsers as |user|}}
					<li><button class="button small" {{action "inviteToBook" user model}}>+ {{user.username}}</button></li>
				{{/each}}
				</ul>
			{{/if}}

			<h3>Current Contributors</h3>
			<ul>
				{{#each model.users as |user|}}
					<li>{{user.username}}</li>
				{{/each}}
			</ul>
			<button class="button small" {{action "leaveBook"}}>Leave Book</button>

		</div>

	</div>

	{{#if userController.facebookFriends}}
	<div class="row">

		<div class="large-12 columns">

		<h3>Share book with facebook friend</h3>
		{{input value=facebookFriendSearch placeholder="Search friends"}}
		{{#each filteredFacebookUsers as |friend|}}
			<button {{action 'inviteToBookFb' friend model}}>{{friend.name}}</button>
		{{/each}}
		
		</div>

	</div>
	{{/if}}

</div>