<div class="large-8 columns recipe collapse">

	<div class="padd">
		<div class="three-quarters">
			<label>Share this book with another user</label>
			{{input value=share placeholder="username"}}
		</div>
		<div class="one-quarter">
			<label>&nbsp</label>
			<button {{action "findUser"}}>Search</button>
		</div>
	</div>

	<div class="padd">
		<ul class="standard-list">
		{{#each foundUsers as |user|}}
			<li><button {{action "inviteToBook" user model}}>+ {{user.username}}</button></li>
		{{/each}}
		</ul>
		<ul class="standard-list">
		<li><h3>Current Contributors</h3></li>
		{{#each model.users as |user|}}
			<li>{{user.username}}</li>
		{{/each}}
		</ul>
		<button {{action "leaveBook"}}>Leave Book</button>

	</div>

	<div class="row">
		<div class="large-12 columns">
		<h3>Share book with facebook friend</h3>
		{{#if userController.facebookFriends}}
			{{input value=facebookFriendSearch placeholder="Search friends"}}
			{{#each filteredFacebookUsers as |friend|}}
				<button {{action 'inviteToBookFb' friend model}}>{{friend.name}}</button>
			{{/each}}
		{{/if}}
		</div>
	</div>

</div>