<div class="large-8 columns recipe collapse">
	<h3>New Recipe</h3>

	<label>Name</label>
	{{input valueBinding="model.name" name="name"}}

	<p>{{{textarea valueBinding="model.description" name="description" placeholder="A long time family recipe that everyone forgets the details of..."}}}</p>

	<label>Tags</label>
	{{input valueBinding="model.tags" name="tags" placeholder="Breakfast, Mexican, gluten free"}}

	<label>Include in books</label>
	{{#each book in controllers.user.model.books}}
		{{checkbox-list model=book contextList=model.books}}
	{{/each}}

	<button {{action "saveRecipe"}}>Save</button>
	
</div>