<div class="large-8 columns text-right collapse">
	<a class="button small tab" {{action 'optionsToggle'}}>share</a>
	<a {{bind-attr class=":button :small :tab options:active"}} {{action 'optionsToggle'}}>options</a>
</div>
<div class="large-8 columns recipe tabbed collapse">
	<h3>{{model.name}}</h3>

	{{#unless options}}

		<p>{{recipe-formatting "modeldescription"}}</p>

		<span class="label">{{model.tags}}</span>

	{{else}}

		<label>Include in books</label>
		{{#each controllers.user.model.books as |book|}}
			{{checkbox-list model=book contextList=model.books}}
		{{/each}}

	{{/unless}}
</div>