<div class="grid-container">
	<div class="padd">
		<h3>{{model.name}}</h3>
		<button {{action 'optionsToggle'}}>options</button>
		<p>{{{model.description}}}</p>
	</div>
</div>
<div class="grid-container">
	<div class="padd">

	{{#unless options}}

		<ul>
		{{#each ingredient in model.ingredientList}}
			<li>
			{{#if ingredient.link}}
				<a {{bind-attr href="link"}} target="_blank">{{ingredient.qty}} {{ingredient.item}}</a>
			{{else}}
				{{ingredient.qty}} {{ingredient.item}}
			{{/if}}
			</li>
		{{/each}}
		</ul>
		<p>{{{model.instructions}}}</p>
		<mark>{{model.tags}}</mark>

	{{else}}

		{{#each book in controllers.user.model.books}}
			<button {{action 'copyToBook' book}}>{{book.name}}</button>
		{{/each}}

	{{/unless}}
	</div>
</div>