<div class="grid-container">
	<div class="padd">
		{{#if model.image}}
			<img class="one-third" {{bind-attr src="image"}}/>
			<div class="two-thirds">
				<h3>{{model.name}}</h3>
				<p>{{{model.description}}}</p>
			</div>
		{{else}}
			<h3>{{model.name}}</h3>
			<p>{{{model.description}}}</p>
		{{/if}}
	</div>
</div>
<div class="grid-container">
	<div class="padd">
		<ul>
		{{#each ingredient in model.ingredientList}}
			<li>
			{{#if ingredient.link}}
				<a {{bind-attr href="link"}} target="_blank">{{ingredient.qty}} {{ingredient.item}}</a>
			{{else}}
				{{ingredient.qty}} {{ingredient.item}}
			{{/if}}
			</li>
		{{/each}}
		</ul>
		<p>{{{model.instructions}}}</p>
		<mark>{{model.tags}}</mark>
	</div>
</div>