<div class="row">
	<div class="topbar">
		Hi {{model.username}}, what should we cook?
		<button class="button small" {{action "logout"}}>Log Out</button>
	</div>
</div>
<div class="row collapse main-container">
	<div class="large-4 columns sidebar">
		<ul class="side-nav">
			<li>{{#link-to "user.index"}}Your Settings{{/link-to}}</li>
			<li>{{#link-to "newbook"}}New Book{{/link-to}}</li>
			<li>{{#link-to "newrecipe"}}New Recipe{{/link-to}}</li>
			
			{{#if controllers.book.model}}
				<li class="title"><h3>{{controllers.book.model.name}}:</h3></li>
			{{else}}
				<li class="separator"><h3>Books</h3></li>
			{{/if}}
			
		</ul>
		<ul class="side-nav {{controllers.book.model:shrink}}">	
			{{#each model.books as |book|}}
				<li>{{#link-to "book" book}}{{book.name}}{{/link-to}}</li>
			{{/each}}

		</ul>
		{{outlet 'book'}}
	</div>
	
	{{outlet 'recipe'}}
	
</div>