<div class="top-menu fixed">
	<div class="top-bar-section">
		<ul>
			<li class="nav-slideout-button">
				<a {{action 'menu'}}>{{svg-icon class="icon" type="books"}}</a>
			</li>
			<li>
				<span class="name">Hi {{model.username}}!</span>
			</li>
			<li>
				<a {{action "logout"}}>Log Out</a>
			</li>
		</ul>
	</div>
</div>

<div class="sidebar {{showMenuClass}}">
	<ul class="side-nav">
		<li {{action 'menu'}}>{{#link-to "user.index"}}Your Settings{{/link-to}}</li>
		<li {{action 'menu'}}>{{#link-to "user.newbook"}}New Book{{/link-to}}</li>
		<li {{action 'menu'}}>{{#link-to "user.newrecipe"}}New Recipe{{/link-to}}</li>
		
		<li class="separator"><h4>{{svg-icon type="books" size="small"}}Books</h4></li>
		
		{{#each books as |book|}}
			<li>{{#link-to "book" book}}{{book.name}}{{/link-to}}</li>
		{{/each}}
		
	</ul>
	{{outlet 'book'}}
	
</div>

<div class="container row">
		<div class="large-4 medium-4 columns collapse">
		</div>
		<div class="large-8 medium-8 small-12 columns recipe collapse">
			{{outlet 'recipe'}}
		</div>
</div>